<div class="row">
  <div class="col xl6 l8 offset-xl3 offset-l2">
    <form action="/auth" method="post">
    <h2>Авторизация</h2>
    <input type="text" name="username" placeholder="login">
    <input type="password" name="password" id="password" placeholder="password">
    <button class="waves-effect light-blue darken-2 btn" type="submit">Войти</button>
    </form>
  </div>
</div>
