<div class="row">
  <div class="col xl6 offset-xl3">
    <form action="/auth" method="post">
    <h2>Авторизация</h2>
    <input type="text" name="username" placeholder="login">
    <input type="password" name="password" id="password" placeholder="password">
    <button type="submit">Войти</button>
    </form>
  </div>
</div>
