<div class="container">
  <div class="select-pictures">
    <select id="langs">
      <option value="rus" selected>Русский</option>
      <option value="eng">English</option>
    </select>
    <br><br>
    <input type="file" id="file" />
    <br><br>
    <div id="log"></div>
    <br><br>
    <button type="button" id="start">Начать обработку</button>
  </div>
  <div class="recognized-text">
    <div id="text-container"></div>
    <button class="read-text-btn">Прочитай</button>
  </div>
</div>
