<div class="select-pictures">
  <select id="langs">
    <option value="rus" selected>Русский</option>
    <option value="eng">English</option>
  </select>
  <br><br>
  <input type="file" id="file" />
  <br><br>
  <div id="log" style="min-height: 200px; border: 1px solid #eee"></div>
  <br><br>
  <button type="button" id="start">Начать обработку</button>
</div>
