{{!-- <div class="row">
  <div class="col xl6 l8 offset-xl2 offset-l2"> --}}
    <div class="select-pictures">
  <form enctype="multipart/form-data" id="send-image" action="/" method="post">
    <div class="row">
      <div class="xl3 offset-xl3 center-align">
        <input class="waves-effect light-blue darken-2 btn" type="file" id="file"
          style="height:60px; width: 380px; padding:12px; font-size:22px;" name="file" />
      </div>
      <div class="xl3 center-align">
        <button class="waves-effect light-blue darken-2 btn" type="submit" id="start"
          style="height:50px; width: 380px; font-size:22px; padding:7px">Узнать что там написано</button>
      </div>
    </div>
  </form>
</div>

<div id="recognized-text">
</div>
<div class="row btn-bottom{{!--  flex --}}">
  <div class="col xl3 l4 m5 center-align offset-l2 offset-xl3 offset-m1">
    <button class="waves-effect light-blue darken-2 btn" id="read-btn"
      style="height:50px; width: 180px; font-size:22px; padding:7px">Читай</button>
  </div>
  <div class="col xl3 l4 m5 center-align">
    <button class="waves-effect light-blue darken-2 btn" id="cancel-read"
      style="height:50px; width: 180px; font-size:22px; padding:7px">Стоп</button>
  </div>
</div>
</div>
{{!--   </div>
</div> --}}

<div class="container">
<div class="progress light-blue darken-2 hide">
  <div class="indeterminate"></div>
</div>
<div id="text-container">
</div>
</div>
