<div class="select-pictures">
  <form enctype="multipart/form-data" id="send-image" action="/" method="post">
    <input type="file" id="file" name="file"/>
    <button type="submit" id="start">Начать обработку</button>

  </form>
</div>
<div id="recognized-text">
  <div id="text-container">
  </div>
  <button id="read-btn">Читай</button>
  <button id="cancel-read">Стоп</button>
</div>
