<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/annyang/1.0.0/annyang.min.js"></script>
<<<<<<< HEAD
<script>
  if (annyang) {
let commands = {
'Помоги': function() {
  alert("help");
}};
annyang.init(commands);
annyang.setLanguage('ru');
annyang.start();
}
</script>
=======
  <script src="/js/voiceHelp.js"></script>
  <script defer src="/js/application.js"></script>
>>>>>>> 814d5eac8a5769153d5f1fd3eba4e9140653f446
  <title>Babushka</title>
</head>
<body>
  <header>
    <h1>Header</h1>
  </header>
  {{{body}}}
</body>
</html>
