<div class="list">
  {{#each list}}
  <div class="list-container">
    <div class="date">{{date}}</div>
    <div class="text">{{text}}</div>
  </div>
  {{/each}}
  <a class="btn-floating light-blue darken-2 up-btn hide"><i class="material-icons">expand_less</i></a>
</div>
