nav {
  margin-bottom: 30px;
}

#text-container {
  font-size: 24px;
  min-height: 100px; 
  border: 3px solid #eee;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.list-container {
  margin: 10px 0;
}

.date {
  padding: 5px 10px;
  background-color: #0288d1;
  border-radius: 5px 5px 0 0;
  color: white;
}

.text {
  padding: 10px;
  border: 2px solid #dcdcdc;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.wrapper-btns {
  display: flex;
  justify-content: center;
}

.btns {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 108%;
}

.my-btn {
  text-transform: uppercase;
  margin: 20px;
  padding: 13px 20px;
  font-size: 22px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #0288d1;
  border-style: none;
  width: 100%;
}

.file-btn {
  text-transform: uppercase;
  display: block;
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #0288d1;
  border-style: none;
  width: 230px;
}

.file-field {
  display: flex;
  align-items: center;
  width: 100%;
}

#form-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
}

.file-path-wrapper {
  width: 60%;
}

.browser-default {
  display: block;
}
