.container {
  display: flex;
}

.select-pictures {
  width: 20%;
  margin-right: 5%;
}

#log,
#text-container {
  min-height: 200px; 
  border: 1px solid #eee;
}

#recognized-text {
  width: 65%;
  margin: 40px 0;
}



