nav {
  margin-bottom: 30px;
}

#text-container {
  font-size: 22px;
  min-height: 100px; 
  border: 3px solid #eee;
  border-radius: 5px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

button {
  margin-top: 20px;
}

