nav {
  margin-bottom: 30px;
}

.logot2 {
  visibility: hidden;
}

#text-container {
  font-size: 24px;
  min-height: 100px;
  border: 3px solid #eee;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 80px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.list {
  margin-bottom: 80px;
}

.list-container {
  margin: 20px 0;
}

.date {
  padding: 5px 10px;
  background-color: #0288d1;
  border-radius: 2px 2px 0 0;
  color: white;
}

.text {
  padding: 10px;
  border: 2px solid #dcdcdc;
  border-top: none;
  border-radius: 0 0 2px 2px;
}

.btn-bottom {
  padding: 0 .75rem;
}

.my-btn {
  margin: 15px 0;
  padding: 13px 20px;
  font-size: 20px;
  width: 100%;
  height: 60px;
}

#sel {
  margin-top: 25px;
  font-size: 24px;
}

#voices {
  font-size: 22px;
}

.up-btn {
  position: fixed;
  right: 20px;
  bottom: 80px;
  opacity: 0.5;
}

.up-btn:hover {
  opacity: 1;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 990px) {
  .logot {
    visibility: hidden;
  }

  .logot2 {
    visibility: visible;
  }

  .my-btn {
    font-size: 18px;
  }

  #choice-btn {
    font-size: 12px;
  }

  #start {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  #start {
    font-size: 8px;
    padding: 5px;
  }
}
